<aside id="aside" class="aside">
    <div class="logo">
        <a href="/admin">
            <img src="/favicon.ico" alt="logo">
            <span>WLog</span>
        </a>
    </div>
    <ul class="menu">
        <li class="menu-item current">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <a href="/admin">文章管理</a>
        </li>
    </ul>
</aside>