<footer class="footer">
    <div class="links">
        <a target="_blank" href="/">WLog</a>
        <a target="_blank" href="https://github.com">GitHub</a>
        <a target="_blank" href="#">about</a>
    </div>
    <div class="links">
        <div>Copyright
            <i class="fa fa-copyright" aria-hidden="true"></i> 2017&nbsp;&nbsp;&nbsp;&nbsp;version:0.1</div>
    </div>
</footer>