<header class="header">
    <a class="menu" onclick="asideToggle()">
        <i class="fa fa-bars"></i>
    </a>
    <nav class="nav">
        <form>
            <input type="text" placeholder="Search" aria-label="Search">
            <button type="submit">Search</button>
        </form>
        <ul>
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Help</a>
            </li>
        </ul>
    </nav>
</header>
<script>
    function asideToggle() {
        if (document.getElementById("aside").style.flexBasis === '0px') {
            document.getElementById("aside").style.flexBasis = '256px'
        } else {
            document.getElementById("aside").style.flexBasis = '0px'
        }
    }
</script>