<!DOCTYPE html>
<html>

<head>
    <title>WLog</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon" 　/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="header">
        <div class="headband"></div>
        <div>
            <a class="title" href="/">WLog</a>
        </div>
        <nav class="nav">
            <ul>
                <li class="nav-item">
                    <a href="/">
                        <i class="fa fa-fw fa-home"></i>
                        <br>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-fw fa-archive"></i>
                        <br>Archives
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-fw fa-tags"></i>
                        <br>Tags
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa fa-fw fa-search"></i>
                        <br>Search
                    </a>
                </li>
            </ul>
        </nav>
    </header>